.dark .content{
  background: #D9006C;
  background: linear-gradient(36deg,rgba(217, 0, 108, 0.26) 0%, rgba(217, 0, 108, 0.02) 100%);
}

.content{
  background: #FFD9E1;
  background: linear-gradient(36deg,rgba(255, 217, 225, 0.69) 0%, rgba(255, 217, 225, 0.16) 100%);
}


